.btn {
  display: inline-block;
  padding: 15px 30px;
  color: #fff;
  font-family: inherit;
  text-align: center;
  font-size: 24px;
  line-height: 33px;
  background-color: $color-accent;
  text-decoration: none;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.btn-full {
  width: 100%;
}

.btn-promo-desc {
  @media (max-width: $mobile-max) {
    display: none;
  }
}

.btn-promo-media {
  display: none;

  @media (max-width: $mobile-max) {
    display: inline-block;
    margin-top: 50px;
  }
}

.btn-preloader {
  display: none;
}

.btn-loading {
  position: relative;

  & .btn-preloader {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    display: block;
    width: 50px;
    height: 50px;
    background-image: url('../images/preloader.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    animation: spin .5s infinite linear;
  }
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
