.contacts {
  padding: 140px 0 130px;
  background-color: rgba($color-light, .2);
}

.contacts-inner {
  @include inner();
}

.contacts-title {
  @include section-title();
}

.contact-item {
  display: none;

  &.active {
    display: flex;
    justify-content: flex-end;
    margin-top: 50px;
    margin-left: -$gap-half;
    margin-right: -$gap-half;
  }
}

.contact-info {
  flex-basis: 33.33%;
  padding: 0 $gap-half;

  p {
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 33px;
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}

.contact-map {
  flex-basis: 58.33%;
  padding: 0 $gap-half;
}
